<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>BookOver - Identificación</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="http://blackrockdigital.github.io/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>

</head>
<body ng-app="BookOver">

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Identificación</h3>
                </div>
                <div class="panel-body" ng-controller="CtrlLogin as ctrl">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input ng-model="user" class="form-control" placeholder="Usuario" name="usuario" autofocus="" type="email">
                            </div>
                            <div class="form-group">
                                <input ng-model="passwd" class="form-control" placeholder="Contraseña" name="password" value="" type="password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" value="login_recordar" type="checkbox">Recordar en este dispositivo
                                </label>
                            </div>
                            <button class="btn btn-lg btn-success btn-block" ng-click="ctrl.login(user, passwd)">Enviar</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../../js/angular_apps.js"></script>
<script src="../../js/angular_controllers.js"></script>
<script src="../../js/angular_services.js"></script>
</body>
</html>