<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BookOver - Registro</title>

    <link rel="shortcut icon" href="../resources/favicon.ico"/>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="../css/sb-admin.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body class="fondo" ng-app="BookOver">

<div id="wrapper">

    <ng-include src="'../html/components/navbar.html'"></ng-include>

    <div style="background: rgba(200, 54, 54, 0.8); position: relative; transform: translateY(28%); border-radius: 30px 30px 30px 30px;margin:auto; width: 35em; margin-bottom: 15em" id="page-wrapper">

        <div class="container-fluid">
            <!-- Page Heading -->

            <div class="row">
                <div class="col-lg-12 ">
                    <h1 style="color: #ffffff;" class="page-header">
                        Registro
                    </h1>

                    <div class="panel-body" style="margin:auto" ng-controller="CtrlRegister as ctrl">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input ng-model="user" class="form-control" placeholder="Usuario" autofocus=""
                                           type="text">
                                </div>
                                <div class="form-group">
                                    <input ng-model="passwd" class="form-control" placeholder="Contraseña" value=""
                                           type="password">
                                </div>
                                <div class="form-group">
                                    <input ng-model="passwd_check" class="form-control" placeholder="Repetir contraseña"
                                           value="" type="password">
                                </div>
                                <div class="form-group">
                                    <input ng-model="email" class="form-control" placeholder="Email" name="email"
                                           autofocus="" type="email">
                                </div>
                                <div class="form-group">
                                    <input ng-model="localization" class="form-control" placeholder="Ubicación" type="text">
                                </div>
                                <button class="btn btn-lg btn-success btn-block enviar"
                                        ng-click="ctrl.register(user, passwd, passwd_check, email, localization)">Enviar
                                </button>
                            </fieldset>
                        </form>
                    </div>

                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<script src="../js/angular.js"></script>
<script src="../js/angular_apps.js"></script>
<script src="../js/angular_services.js"></script>
<script src="../js/angular_controllers.js"></script>
<script src="../js/angular_directives.js"></script>
</body>
</html>