<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BookOver - Conversación privada</title>

    <link rel="shortcut icon" href="../resources/favicon.ico"/>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="../css/sb-admin.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">


    <style>
        .table-striped>tbody>tr:nth-child(odd)>td,
        .table-striped>tbody>tr:nth-child(odd)>th {
            /*background-color: #c8523a;*/
            background-color: #f58677;
        }
        .table-striped>tbody>tr:nth-child(even)>td,
        .table-striped>tbody>tr:nth-child(even)>th {
            background-color: #f58677;
        }
        .table-striped>thead>tr>th {
            background-color: #54030A;
        }
    </style>

</head>

<body class="fondo" ng-app="BookOver">

<div id="wrapper">

    <ng-include src="'../html/components/navbar.html'"></ng-include>
    <br>

    <div style="background: rgba(200, 54, 54, 0.8); position: relative; transform: translateY(15%); border-radius: 30px 30px 30px 30px;margin:auto; width: 55em; margin-bottom: 15em" id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->

            <div class="row">
                <div class="col-lg-12 "  ng-controller="CtrlLibro as ctrl">
                    <h1 style="color: #ffffff;" class="page-header">
                        Conversación con {{ctrl.getConversacionConQuien()}}
                    </h1>
                    <div class="panel-body" style="margin:auto; color: #ffffff;">
                        <div id="logchats">
                            <div class="table-responsive">
                                <table ng-repeat="mensaje in conversacion" class="records_list col-lg-12 table table-striped">
                                    <thead>
                                    <tr>
                                        <th>{{mensaje.quien}}</th>
                                        <th style = "text-align: right">{{mensaje.cuando}}</th>
                                    </tr>
                                    </thead>

                                    <tbody id="content">

                                    <tr>
                                        <td colspan="2">{{mensaje.mensaje}}</td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                        </div>





                            <textarea ng-model="txt" class="form-control" name="post_content" id="texto" cols="30" rows="10">

                             </textarea>
                            <br>
                            <button class="btn btn-lg btn-success btn-block enviar"
                                    ng-click="ctrl.enviarMensaje(txt, ctrl.getConversacionConQuien())">Enviar
                            </button>


                    </div>


                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<script src="../js/angular.js"></script>
<script src="../js/angular_apps.js"></script>
<script src="../js/angular_services.js"></script>
<script src="../js/angular_controllers.js"></script>
<script src="../js/angular_directives.js"></script>


</body>
</html>